.days-page article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.days-page h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.title-date {
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(109, 109, 109);
}

.days-page figure {
  width: 250px;
  margin: 20px 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.days-page figure img {
  width: 100%;
}

.days-page figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.days-page figcaption a {
  color: black;
  text-indent: 0;
  border-bottom: none;
  padding-bottom: 3px;
}

.days-page figcaption a:hover {
  border-bottom: none;
  color: rgb(128, 233, 119);
  transition: 0.2s;
}

@media (max-width: 1001px) {
  .days-page figure {
    width: 80%;
    margin: 20px auto;
  }
  .projects-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
