.contact-page article {
  width: unset;
}

.contact-page ul {
  list-style-type: none;
}
.contact-page h2 {
  font-size: 30px;
}

.contact-page a {
  font-size: 22px;
  color: black;
  text-decoration: none;
  border: none;
}

.contact-page li {
  padding: 3px;
}

.contact-page a:hover {
  color: rgb(128, 233, 119);
  transition: 0.2s;
}

@media (max-width: 1001px) {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
